h1{
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}